<a href="/users/new">Become a Troll</a>

<div>
  <% @questions.each do |question| %>
  <div>
    <a href="/questions/<%=question.id%>"><h2><%= question.question_text %></h2></a>
    <div>
      <label>Answers: <%= question.answers.count %></label>
    </div>
  </div>
  <% end %>
</div>

<% if session[:user_id] %>
  <form action="/questions" method="post">
    <label for="question_text">Question: </label>
    <input type="text" name="question_text">
    <input type="submit" value="Submit">
  </form>
<% end %>
