<div>
  <% @questions.each do |question| %>
  <div class="topic">
    <a href="/questions/<%=question.id%>"><h2><%= question.question_text %></h2></a>
    <div>
      <label>Answers: <%= question.answers.count %></label>
    </div>
  </div>
  <% end %>
</div>

<form action="/questions" method="post">
  <label for="question_text">Question: </label>
  <input type="text" name="question_text">
  <input class="comment-button" type="submit" value="Submit">
</form>
