<div class="new_account">
  <h3>Sign Up</h3>
  <form action="/users" method="post">
    <input type="text" name="user[user_name]" placeholder="Username">
    <input type="text" name="user[email]" placeholder="Email">
    <input type="text" name="user[password_hash]" placeholder="Password">
    <input type="submit" value="Sign Up">
  </form>
</div>
