<h1>Your Answer:</h1>
  <div class="answered_question">
    <form action='/questions/question_id/answers' method="post" type="text" >
      <textarea name="answer_text" rows="15" cols="92"></textarea>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </div>
