<div>
  <% @questions.each do |question| %>
  <div>
    <a href="/questions/<%=question.id%>"><%= question.question_text %></a>
  </div>
  <% end %>
</div>

<form action="/questions" method="post">
  <label for="question_text">Question: </label>
  <input type="text" name="question_text">
  <input type="submit" value="Submit">
</form>
