<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Eater" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <div class="signup">
      <a href="/users/new">Join the Trolls</a>
    </div>
    <div>
      <h1><a href="/questions">TrollCentral.io</a></h1>
    </div>
    <div>
      <div class="authorization">
        <% if !session[:user_id] %>
        <form action="/sessions" method="post">
          <input type="email" name="email" placeholder="email">
          <input type="password" name="password" placeholder="password">
          <input class="button" type="submit" value="Login">
        </form>
      <% else %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete">
          <input class="button delete" type="submit" value="Logout">
        </form>
      <% end %>
      </div>
      <div class="errors">
        <% if @errors %>
            <% @errors.each do |error| %>
              <h4><%= error %></h4>
            <% end %>
        <% end %>
        <% if @message %>
          <div class="messages container">
            <h4> <%= @message %> </h4>
          </div>
        <% end %>
      </div>
    </div>
  </header>
  <%= yield %>
</body>
</html>
